html {overflow-y:scroll;}
body {margin:0 auto; padding:29px00; font:12px"\5B8B\4F53",sans-serif;background:#f4f4f4;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:14px;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:14px; font-weight:normal;}
address,cite,code,em,th,i {font-weight:normal; font-style:normal;}
a {
    text-decoration:none;
    out-line: none;
    color:#333;
    }
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix{
    zoom:1;
}
div{
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
}
*{
    box-sizing: border-box;
}
.p24{
    width: 100%;
    padding: 0 0.32rem;
}
.cfmbtn{
    margin-top: 0.2667rem;
    width: 100%;
    height: 1.1733rem;
    color: #fff;
    background-color: #0bc0fe;
    line-height: 1.1733rem;
    border-radius: 0.1067rem;
    font-size: 0.4rem;
    text-align: center;
    
}


